{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<html>
<head>
	<title>Rajshekar Shivananchi</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/images.jpg' %}" >
					<hr>
					<h4>Rajshekar Shivananchi</h4>
					<p>B.E(Comp.Science) 2019 pass-out</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Education Qulification</h4>
					<hr>
					<style>
						table, th, td {
  						border: 1px solid black;
  						border-collapse: collapse;
					}
					th, td {
 							 padding: 15px;
					}
					</style>
					<div>



<table style="width:100%">
  <tr>
    <th>Course</th>
    <th>Institution</th>
    <th>University/Board</th>
    <th>Year of Passing</th>
    <th>Marks Obtained</th>
  </tr>
  <tr>
    <td>BE(CSE)</td>
    <td>SKSVMACET, laxmeshwar
(Dist-GADAG)</td>
    <td>VTU</td>
    <td>2019</td>
    <td>5.46 CGPA</td>
  </tr>
  <tr>
    <td>PUC(PCMC)</td>
    <td>M.E.S PU College,
Sirsi</td>
    <td>KARNATAKA PU
BOARD</td>
     <td>2015</td>
     <td>69.73%</td>
  </tr>
  <tr>
    <td>SSLC</td>
    <td>Ave Maria High School,
Sirsi</td>
    <td>KSEEB</td>
    <td>2013</td>
    <td>75.03%</td>
  </tr>
</table>

					</div>
			</div>
		</div>

		<br><br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Academic Projects</h5>
					<hr>
					<p><b>Title:</b>SmartTollSystem(MajorProject) </p>
					<p><b>Description:</b> Smart toll System is a new technology for collecting toll in a faster and more efficient way. It is a great alternative to long waiting at manual toll plazas</p>
					<hr>
					<p><b>Title:</b> Shortening the URL</p>
					<p><b>Description:</b>It mainly uses the base64  algorithm for encoding process.The project includes the FLASK frame work, it reduces the length of the URL so that it is easy to remember and share it where there are restrication in length.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Internships/Certified Courses:</h5>
					<hr>
					<p> <b>Organization:</b> Math2tech Solutions</p>
						Duration: July ’09 – August ‘05
						oDescription: Brought up some basic knowledge on Android Technology to design a simple Android App using Android Studio.
						Learning:  Learnt basic of Android technology and how to design simple android Apps.</p>
					<p>Have completed the course on Python in ITIE knowledge Solutions,Banglore.</p>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Technical Activities:</h5>
					<hr>
					<p>•	Conducted 3 Days workshop on Adobe Photoshop at college level.</p>

					<p> •	Gone through Android Workshop conducted by Campus-Connect Hubli in SKSVMACET, Laxmeshwar.</p>

					<p>•	Conducted 6days Android Workshop at college level. </p>

					<p>•	Had been Finalist in Mirror Coding Inter-college competition.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Technical Skills:</h5>
				<hr>
				<p>•	Programming Languages: Python, C, Java</p>

				<p>•	Tools: Adobe Photoshop, Android Studio.</p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>




